
  <div class="wrapper w-100">

    <!-- SIDEBAR -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <nav id="sidebar">

        <div class="sidebar-header border-blue">
          <h3>Administration</h3>
        </div>

        <!-- NAVIGATION -->
        <ul class="list-unstyled components">
          <li>
            <a routerLink="graph">
              <fa-icon [icon]="faTachometerAlt"></fa-icon>
              Heure total
            </a>
          </li>
          <li>
            <a routerLink="liste">
              <fa-icon [icon]="faFilter"></fa-icon>
              liste
            </a>
        </ul>
      </nav>
      <!-- BUTTON SIDEBAR COLLAPSE -->
      <button type="button" id="sidebarCollapse" class="btn btn-info btn-slider" (click)="onBtnSideBar()">
        <fa-icon [icon]="btnSideBar"></fa-icon>
      </button>
    </div>

    <!-- ROUTER -->
    <div class="content-page-child ">

      <router-outlet></router-outlet>

    </div>

  </div>



