
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper:nth-child(2) {
    flex: 1;
}

.btn-slider {
    width: 20px;
    padding: 3px;
}

.border-blue {
    border-bottom: 1px #3e556c solid;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    transition: all 0.3s;
    overflow: auto;
    max-height: 100%;
    padding: 58px 0px 10px 0px;
    margin: 0 20px 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;

}

#sidebar.active {
    min-width: 0px;
    max-width: 0px;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 991px) {
    #sidebar {
        display: none;
    }

    .btn-slider {
        display: none;
    }


}





