
  <div class="wrapper">

    <!-- ROUTER -->
    <div class="content-page-child ">

      <router-outlet></router-outlet>

    </div>


    <div class="btn-group" role="group" aria-label="Basic example">
      <!-- SIDEBAR -->
      <nav id="sidebar">
        <app-liste></app-liste>
      </nav>

      <!-- BUTTON SIDEBAR COLLAPSE -->
      <button type="button" id="sidebarCollapse" class="btn btn-info btn-slider" (click)="onBtnSideBar()">
        <fa-icon [icon]="btnSideBar"></fa-icon>
      </button>
    </div>

  </div>



