
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper:nth-child(2) {
    flex: 1;
}

.btn-slider {
    width: 20px;
    padding: 3px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.border-blue {
    border-bottom: 1px #3e556c solid;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #34495E;
    color: #fff;
    transition: all 0.3s;
    padding-top: 60px;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #34495E;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #34495E;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #34495E;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #34495E;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #34495E;
}

a.download {
    background: #fff;
    color: #34495E;
}

a.article,
a.article:hover {
    background: #34495E !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    RIGHT PANEL STYLE
----------------------------------------------------- */

.right-panel {
    padding: 80px 0px 10px 0px;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    background-color: white;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3 {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #topbar .navbar strong {
        display: block;
    }
    #topbar .navbar h3 {
        display: none;
    }
    .wrapper #sidebar .sidebar-header strong img {
        width: 40px;
        height: 40px;
    }

    @media (max-width: 380px) {
        #topbar .navbar strong {
            display: none;
        }
        #topbar .navbar h4 {
            display: block;
        }
    }
}





