body {
    /*background-color: #f5f2d8;*/
}
a, a:hover {
    color: black;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
}

/* =================================== */
/* CONTENT PAGE                        */
/* =================================== */
.content-page {
    padding: 40px 0px 0 0px;
    justify-content: space-between;
    width: 100%;
}
.content-page-child {
    padding: 20px 0px 10px 20px;
    width: 100%;
}

/* =================================== */
/* LISTE                               */
/* =================================== */
.content-list {
    min-width: 300px;
    max-width: 300px;
    max-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 0 0 0;
    margin: 0;
    display: flex;
    transition: all 0.3s;
}
.list-overflow {
    overflow: auto;
    width: 100%;
}
#sidebar.active {
    min-width: 20px;
    max-width: 20px;
}
.btn-slider {
    width: 30px;
    padding: 3px;
    height: 100%;
    background-color: #2e6fb1;
    border: none;
    border-radius: 0px;
}
.btn-slider:hover, .btn-slider:not(:disabled):not(.disabled):active:focus {
    background-color: #3c94ee;
}

.btn-slider:focus, .btn-slider:hover, .btn-slider:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 991px) {
    /* CONTENT PAGE */
    .content-page {
        padding: 10px 10px 80px 10px;
        margin: 0 0 0px 0;
    }
    .content-page-child {
        padding: 30px 10px 80px 10px;
        width: 100%;
    }

    /* LISTE */
    .content-list {
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px 0 70px 0px;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        transition: all 0.3s;
        background-color: white;
    }
    .list-overflow {
        overflow: auto;
        width: 100%;
    }
    #sidebar.active {
        min-width: 100%;
        max-width: 100%;
        height: 30px;
        padding: 0px 0 0px 0px;
    }
    .btn-slider {
        width: 100%;
        padding: 3px;
        height: 30px;
        background-color: #2e6fb1;
        border: none;
        border-radius: 0px;
    }
    .btn-slider:hover {
        background-color: #3c94ee;
    }
}