body {
    background-color: #f5f2d8;
}

/* =================================== */
/* CONTENT PAGE                        */
/* =================================== */
.content-page {
    margin: 80px 80px 0 80px;
}
.content-page-child {
    padding: 80px 300px 0 20px;
    width: 100%;
}
a, a:hover {
    color: black;
    text-decoration: none;
}
