body {
    /*background-color: #f5f2d8;*/
}

/* =================================== */
/* CONTENT PAGE                        */
/* =================================== */
.content-page {
    padding: 80px 80px 0 80px;
}
.content-page-child {
    padding: 80px 0px 10px 20px;
    width: 100%;
}
a, a:hover {
    color: black;
    text-decoration: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 991px) {
    .content-page {
        /*margin: 0px 0px 0 0px;*/
        padding: 10px 10px 80px 10px;
    }
    .content-page-child {
        padding: 10px 10px 80px 10px;
        width: 100%;
    }
}