
.idea/*
.idea/Project.xml

client/node_modules/*
node_modules/*
server/public/*
node_modules

BDD/.DS_Store
/.idea/
BDD/data/
client/assets/justificatif/

*.log
server/log/*.json

.nyc_output
coverage
*.lcov