dist: trusty

env:
  - DOCKER_COMPOSE_VERSION=1.24.1

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose -f docker-compose.test.yml up -d

addons:
  sonarcloud:
    organization: "sterioss" # the key of the org you chose at step #3
    token:
      secure: $SONAR_TOKEN # encrypted value of your token

script:
  - sleep "30"
  - docker exec -ti badgeuse-node npm test
  - docker exec -ti badgeuse-node npm run report-coverage
  - sonar-scanner
