 <div class="cadre-user-legends d-flex">

  <!-- INFO -->
  <div class="legendbar shadow">
    <ul>

      <li class="h2">
       Légende des couleurs
      </li>

      <li class="h3 validetext row">
        Absence validé:
        <div class="valide"></div>
      </li>

      <li class="h3 encourstext row">
       Absence en attente:
        <div class="encours"></div>
      </li>

      <li class="h3 refusetext row">
        Absence refusé:
        <div class="refuse"></div>
      </li>

    </ul>
  </div>

 <!-- CALENDAR -->
  <div class="">
    <app-monthly-calendar></app-monthly-calendar>
  </div>

 </div>
