
<h3>idée de contenue pour Espace personnel</h3>
<ul>
  <li>la page entièrement conçu pour abriter des Widgets, qu'on peut déplacer comme l'utilisateur le souhaite</li>
  <li>[Widget] - vue d'ensemble des pointage de la semaine (ex: barre de progression sur 35h, heure pointer dans la journée, graphique simple de la semaine)</li>
  <li>[Widget] - Membre du projet connecter</li>
  <li>[Widget] - Vue d'ensemble sur le projet en cours</li>
  <li>[Widget] - Lien util courant (ex: gitlab, confluance, jira)</li>
  <li>[Widget] - Backlog Jira</li>
  <li>[Widget] - Réunion de la journée</li>
  <li>en haut de passe, prévoir un emplacement permettant d'affichant des messages importants que les administrateurs peuvent faire apparaitre depuis leur espace admin</li>
</ul>