 <div class="d-flex">

  <!-- INFO -->
  <div class="infobar shadow">

    <!-- LEGEND CALENDAR -->
    <div class="card text-black-50 bg-light mb-3">
      <div class="card-header h4">
        Légende des couleurs
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-valide m-0">Absence validé</li>
        <li class="list-group-item bg-encours m-0">Absence en attente</li>
        <li class="list-group-item bg-refuse m-0">Absence refusé</li>
      </ul>
    </div>

    <div class="border p-2">
      <p>
        Vous pouvez justifier une absence (maladie, stage, altérnance ou autre). Celle-ci sera validée ou refusée par un professeur.
        Pour plus d'information, contactez un professeur.
      </p>

      <button class="mt-1 btn btn-outline-primary alert-primary w-100"
              routerLink="/userRequest"
      >
        Soumettre une absence
      </button>
    </div>

  </div>



 <!-- CALENDAR -->
  <div class="">
    <app-monthly-calendar></app-monthly-calendar>
  </div>

 </div>
