<div class="cadre-user-detail d-flex">

  <!-- INFO -->
  <div class="infobar shadow">
    <ul>

      <li class="mb-4">
        <button routerLink="/hebdo" class="btn btn-outline-light">< Retour</button>
      </li>

      <li>
        {{ userData.nom_role }}
      </li>

      <li class="h3">
        {{ userData.nom_user | uppercase}} {{ userData.prenom_user }}
      </li>

      <li>
        {{ userData.mail_user }}
      </li>

      <li class="pb-5">
        <form [formGroup]="form" (change)="onSubmit()">
          <select formControlName="nom_group">
            <option value="0">Inactif</option>
            <option value="1">1ere année</option>
            <option value="2">2e année</option>
            <option value="3">3e année</option>
            <option value="4">Administrateur</option>
          </select>
        </form>
      </li>

      <div class="legendadmin mt-5 pt-5">
      <li class="h2">
       Légende des couleurs
      </li>

      <li class="h3 validetext row">
        Absence validé:
        <div class="valide"></div>
      </li>

      <li class="h3 encourstext row">
       Absence en attente:
        <div class="encours"></div>
      </li>

      <li class="h3 refusetext row">
        Absence refusé:
        <div class="refuse"></div>
      </li>
      </div>
    </ul>
  </div>

  <!-- CALENDAR -->
  <div class="">
    <app-monthly-calendar></app-monthly-calendar>
  </div>

</div>
