
<button class="btn btn-outline-secondary alert-secondary rounded-0 mb-3 w-100" (click)="onRefresh()">Actualiser</button>

<h3 class="ml-3">Présent ({{ userOn.length }})</h3>
<ul class="mb-3">
  <li *ngFor="let user of userOn">
    <fa-icon [icon]="faCircle" class="iconOn ml-5"></fa-icon> {{ user.userName }}
  </li>
</ul>

<h3 class="ml-3">Absent ({{ userOff.length }})</h3>
<ul class="ulOff">
  <li *ngFor="let user of userOff">
    <fa-icon [icon]="faCircle" class="iconOff ml-5"></fa-icon> {{ user.userName }}
  </li>
</ul>