<div class="d-flex justify-content-between">
  <div>
    <button class="btn btn-secondary" (click)="onPrevWeek()"> < </button>
  </div>
  <div>
    <h2>Période du<b> {{ startDateTime | date:'dd MMM yyyy'}} </b>au<b> {{ endDateTime  | date:'dd MMM yyyy'}}</b></h2>
  </div>
  <div>
    <button class="btn btn-secondary" (click)="onNextWeek()"> > </button>
  </div>
</div>

<table>
  <tr *ngFor="let user of userList">
    <td class="border p-2">{{ user.userName }}</td>
    <td class="border p-2">{{ user.duration }}</td>
  </tr>
</table>