



<div class="shadow p-3 mb-3">
  <!-- NAVIGATION -->
  <div class="d-flex justify-content-between">
    <div>
      <button class="btn btn-secondary" (click)="onPrevWeek()"> < </button>
    </div>
    <div>
      <h2>Période du<b> {{ startDateTime | date:'dd MMM yyyy'}} </b>au<b> {{ endDateTime  | date:'dd MMM yyyy'}}</b></h2>
    </div>
    <div>
      <button class="btn btn-secondary" (click)="onNextWeek()"> > </button>
    </div>
  </div>

  <!-- FILTER / SELECT -->
  <form [formGroup]="form" (change)="onInitGroup()" class="form-signin text-center">
    <div class="input-group mb-3">

      <div class="input-group-prepend">
        <div class="input-group-text">
          Trier par:
        </div>
      </div>
      <select formControlName="orderBy" class="custom-select">
        <option value="userName">ordre alpabétique</option>
        <option value="id_group">année</option>
      </select>

      <div class="input-group-append">
        <span class="input-group-text">Selection: </span>

        <div class="input-group-text">
          <input class="" type="checkbox" id="inlineCheckbox1" value="option1" formControlName="checkbox1">
        </div>
      </div>
      <label class="form-control text-left" for="inlineCheckbox1">1er année</label>

      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="" type="checkbox" id="inlineCheckbox2" value="option2" formControlName="checkbox2">
        </div>
      </div>
      <label class="form-control text-left" for="inlineCheckbox2">2e année</label>

      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="" type="checkbox" id="inlineCheckbox3" value="option3" formControlName="checkbox3">
        </div>
      </div>
      <label class="form-control text-left" for="inlineCheckbox3">3e année</label>

      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="" type="checkbox" id="inlineCheckbox4" value="option4" formControlName="checkbox4">
        </div>
      </div>
      <label class="form-control text-left" for="inlineCheckbox4">Résident</label>
    </div>
  </form>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-graphic-tab" data-toggle="tab" href="#nav-graphic" role="tab" aria-controls="nav-graphic" aria-selected="true">Graphique</a>
    <a class="nav-item nav-link" id="nav-table-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-table" aria-selected="false">Tableau</a>
  </div>
</nav>

<div class="tab-content pt-3" id="nav-tabContent">

  <div class="tab-pane fade  show active" id="nav-graphic" role="tabpanel" aria-labelledby="nav-graphic-tab">
    <app-graph></app-graph>
  </div>

  <div class="tab-pane fade d-flex justify-content-center" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">
    <!-- TABLE -->
    <table>
      <tr>
        <th class="text-center pb-2">Année</th>
        <th class="text-center pb-2">Etudiant</th>
        <th class="text-center pb-2">Total heure</th>
      </tr>
      <tr *ngFor="let user of userList" [ngClass]="{'redLine' : user.duration < 35}">
        <td class="border p-2 text-center" id="group">{{ user.id_group }}</td>
        <td class="border p-2" id="userName">{{ user.userName }}</td>
        <td class="border p-2" id="duration">{{ user.duration }}</td>
      </tr>
    </table>
  </div>

</div>

