<!--<p>-->
  <!--graph works!-->
<!--</p>-->
<!--<ul>-->
  <!--<li *ngFor="let value of variableTest">user{{ value.id_user }} date:<b>{{ value.date_point }}</b> S/E:{{ value.StartEnd_point }} status:{{ value.id_status }}</li>-->
<!--</ul>-->
<table>
  <tr *ngFor="let value of variableTest">
    <td>{{ value.id_user }}</td>
    <td>{{ value.date_point | date: 'dd MMM yyyy'}}</td>
    <td>{{ value.date_point | date: 'HH:mm'}}</td>
    <td>{{ value.StartEnd_point }}</td>
    <td>{{ value.id_status }}</td>
  </tr>
</table>

<!-- TODO :
            1 : Séparer par date
            2 : Séparer par personne
            3 : crée un array des entré/sorti par ordre croissant
            4 : calculer le temps total par jour par personne
 -->