
<h2>Heure total de la semaine du {{ startDate | date:'dd MMM yyyy'}} au {{ endDate | date:'dd MMM yyyy'}}</h2>
<table>
    <tr>
        <th>userName</th>
        <th>duration</th>
    </tr>
  <tr *ngFor="let value of variableTest">
    <td>{{ value.userName }}</td>
    <td>{{ value.duration }}</td>
  </tr>
</table>
<br><br>
<div *ngIf="activeGraph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>