<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Etudiant</th>
      <th scope="col">Reference</th>
      <th scope="col">Date Absence</th>
      <th scope="col">Demi-journée</th>
      <th scope="col">Raison</th>
      <th scope="col">Certificat</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Validation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let absence of absences">
      <th>{{ absence.id_status}}</th>
      <td>{{ absence.id_user }}</td>
      <td>{{ absence.ref_absence }}</td>
      <td>{{ absence.absence_date}}</td>
      <td>{{ absence.half_day }}</td>
      <td>{{ absence.id_reason}}</td>
      <td>{{ absence.certificate }}</td>
      <td>Commentaire</td>
      <td>Valide/Refuse</td>
    </tr>
  </tbody>
</table>



<!-- <form [formGroup]="form">
  <label for="email">E-mail</label>
  <input name="email"
         formControlName="email"
         type="email" />
  <label for="name">Name</label>
  <input name="name"
         formControlName="name"
         type="text" />
  <label for="registeredOn">Registered On</label>
  <input name="registeredOn"
         formControlName="registeredOn"
         type="date" />
  <label for="password">Password</label>
  <input name="password"
         formControlName="password"
         type="password" />
</form> -->
