<form [formGroup]="userRequest"
      (submit)="onRequestSubmit()"
      class="text-center"
>
    <h1 class="h3 mb-3 font-weight-normal">Justifier une absence</h1>

    <div class="m-5 p-5 d-flex border shadow">

        <div class="w-100 mr-2">
            <!-- SELECT BOX -->
                <div class="form-group border rounded input-group-top">
                    <label for="inputMotif" class="pl-3">Raison de l'absence</label>
                    <select id="inputMotif" class="form-control border-0 rounded-0" name="Motif" formControlName="Motif">
                        <option [selected]="true">Choisissez une raison</option>
                        <option>...</option>
                    </select>
                </div>


            <!-- INPUT DATE -->

            <div class="form-group border rounded input-group-top">
                <label for="inputDateDebut" class="pl-3">Entrez une date de début</label>
                <input type="Date" class="form-control border-0 rounded-0" id="inputDateDebut"
                       name="DateDebut" formControlName="DateDebut" required>
            </div>
            <div class="form-group border rounded input-group-top">
                <label for="inputDateFin" class="pl-3">Entrez une date de fin</label>
                <input type="Date" class="form-control border-0 rounded-0" id="inputDateFin"
                       name="DateFin" formControlName="DateFin" required>
            </div>

            <!-- INPUT FILE -->
            <div class="form-group border rounded input-group-top">
                <label for="justifFormControlFile1" class="pl-3">Justificatif</label>
                <input type="file" class="form-control-file border-0 rounded-0" id="justifFormControlFile1"
                       placeholder="renseigner un justificatif"
                       name="justifFormControlFile1">
            </div>

            <!-- SUBMIT -->
            <button type="submit" [disabled]="!userRequest.valid || processing" class="btn btn-primary">Valider</button>
        </div>

        <div class="w-100 ml-2">
            <!-- INPUT COMMENT -->
            <div class="form-group  rounded input-group-top">
                <label for="comment" class="pl-3">Commentaire</label>
                <textarea class="form-control rounded-0" rows="15" id="comment" placeholder="Ajouter un Commentaire"
                          name="comment" formControlName="comment"></textarea>
            </div>
        </div>


    </div>
</form>
