<form [formGroup]="userRequest" (submit)="onRequestSubmit()" class="text-center">

  <!-- Dropdown -->
  <div class="form-group border">
    <h1 class="h3 mb-3 font-weight-normal">Formulaire de requête</h1>
    <div class="form-group col-md-8">
      <label for="inputMotif">Motif</label>
      <select id="inputMotif" class="form-control"  name="Motif" formControlName="Motif">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <!-- InputDate -->
  <div class="form-groupe row">
    <div class="form-group col-md-6">
      <label for="inputDateDebut">Entrez une date de début</label>
      <input type="Date" class="form-control" id="inputDateDebut"
             name="DateDebut" formControlName="DateDebut" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputDateFin">Entrez une date de fin</label>
      <input type="Date" class="form-control" id="inputDateFin"
             name="DateFin" formControlName="DateFin" required>
    </div>
  </div>

  <!-- InputComment -->
  <div class="form-group">
    <label for="comment">Commentaire</label>
    <textarea class="form-control" rows="5" id="comment" placeholder="Ajouter un Commentaire"
              name="comment" formControlName="comment"></textarea>
  </div>

  <!-- InputjustifFormControlFile1 -->
  <div class="form-group col-md-1">
    <label for="justifFormControlFile1">Justificatif</label>
    <input type="file" class="form-control-file" id="justifFormControlFile1" placeholder="renseigner un justificatif"
            name="justifFormControlFile1" >
  </div>
  <button type="submit" [disabled]="!userRequest.valid || processing" class="btn btn-primary">Valider</button>
</form>
