<!-- FORM -->
<form [formGroup]="form" (submit)="onResetPassSubmit()" class="form-signin text-center">
  <!-- picture -->
  <div class="form-group mb-3">
    <img src="assets/img/logo_uha_40.png" alt="logo UHA 4.0" class="img-logo">
    <p>Espace étudiant 4.0</p>
  </div>
  <div class="form-group">
    <h1 class="h3 mb-3 font-weight-normal">Réinitialisation du mot de passe</h1>

    <p class="mt-5 mb-3 text-muted">Saisissez l'adresse email du compte dont vous avez oublié le mot de passe.</p>

    <label for="inputMail" class="sr-only">mail</label>
    <input type="text" id="inputMail" name="mail" class="form-control" placeholder="Adresse email" formControlName="mail" required autofocus>
    <!-- ERROR MESSAGE -->
    <ul class="help-block">
      <li class="text-danger" *ngIf="form.controls.mail.errors?.required && form.controls.mail.dirty"><small>Le champ "Adresse email" est requis.</small></li>
      <li class="text-danger" *ngIf="!mailValids() && form.controls.mail.dirty"><small>Le champ "Adresse email" est invalide.</small></li>
    </ul>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid || processing || !mailValids()">Envoyer</button>
  <p class="mt-5"><a routerLink="/login" class="mt-5 mb-3 text-muted">Revenir à la page de connexion</a></p>
</form>
