.badge-panel {
    /*border: 1px solid slategrey;*/
    border-radius: 5px;
    /*width: 200px;*/
    height: 100%;
    /*padding: 0 10px 0 10px;*/
}
.badge-section {
    /*border: 1px black solid;*/
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#badge-status {
    width: 50px;
    height: 40px;
    padding: 5px;
}
.badge-temoin {
    /*height: 100%;*/
    /*width: 100%;*/
    /*border-radius: 51%;*/
    /*color: grey;*/
    font-size: 2rem;
    transition: 1s ease;
}