
<div class="badge-panel d-flex justify-content-between">

  <!-- status présence -->
  <section class="badge-section" id="badge-status">
    <fa-icon [icon]=" temoinState "
             [ngStyle]="{color: getTemoinStatus()}"
             class="badge-temoin"
             data-toggle="tooltip"
             data-placement="left"
             title="{{ tooltipState }}"
    ></fa-icon>
  </section>

  <!-- badgeuse -->
  <section class="badge-section">

    <!--<div class="btn-group dropdown">-->

      <button class="btn btn-outline-secondary alert-secondary w-100" (click)="onBadge()" [disabled]="buttonActivate">Pointer</button>

      <!--<button type="button" class="btn btn-outline-secondary alert-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle Dropdown</span>-->
      <!--</button>-->
      <!--&lt;!&ndash; dropdown &ndash;&gt;-->
      <!--<div class="dropdown-menu dropdown-menu-right">-->
        <!--&lt;!&ndash; Disconnect button &ndash;&gt;-->
        <!--<button class="btn btn-outline-danger alert-danger w-100" routerLink="login" (click)="onDisconnect()">Déconexion</button>-->
      <!--</div>-->

    <!--</div>-->

  </section>
</div>
